<%= form_for(setting) do |f| %>
	<% if setting.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>
			<ul>
				<% setting.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="row">
		<div class="col-sm-8">
			<%= f.label :budget %>
			<%= f.number_field :budget, :value => setting.set_budget, :step => ".01", :class => 'form-control' %>
		</div>
	</div>

	<div class="actions">
		<%= f.submit 'Set budget', :class => 'btn btn-primary' %>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<%= f.label :currency %>
			<%= f.select :currency, options_for_select(['EUR', 'USD', 'PLN'], 'EUR'), :class => 'form-control' %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit 'Set currency', :class => 'btn btn-primary' %>
	</div>

	<div class="actions">
		<%= f.submit 'Set both', :class => 'btn btn-primary' %>
	</div>

<% end %>
