<div class="table-responsive">  
 	<table class="table">
	    <thead>
			<tr>
				<th>Expenses</th>
				<th>Value</th>
				<th>Percentage</th>
				<th colspan="1"></th>
			</tr>
	    </thead>
		<tbody>
			<% @categories.each do |category| %>
				<tr>
					<td><%= link_to category.name, category %></td>
					<td><%= number_to_currency(category.expense_sum(current_user), :unit => @setting.currency, format: "%n %u") %></td>
					<% if category.expense_sum(current_user) > 0  %>
						<td><%= number_to_percentage(category.percentage(current_user), precision: 0) %></td>
					<% else %>
						<td><%= number_to_percentage(0, precision: 0) %></td>
					<% end %>
					<td><button type="button" class="btn btn-primary btn-sm"><%= link_to 'New expense', new_category_expense_path(category), {:style=>'color:#FFFFFF;', :class => "css_class"} %></button></td>
				</tr>
			<% end %>
			<td>All expenses: </td>
			<td><%= number_to_currency(Expense.all.sum_all(current_user), :unit => @setting.currency, format: "%n %u") %></td>
			<td>Balance: </td>
			<% if @setting.budget == 0  %>
				<td>No budget set</td>
			<% else %>
				<td><%= number_to_currency((@setting.budget) - (Expense.all.sum_all(current_user)), :unit => @setting.currency, format: "%n %u") %></td>
			<% end %>
		</tbody>
	</table>
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	Create new category
</button>
<% if @categories.basic_categories? %>
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
		<%= link_to 'Create Basic Categories', 'new_basic', {:style=>'color:#FFFFFF;', :class => "css_class"} %>
	</button>
<% end %>
<%= render 'categories/form', category: @category %>




