<div class="table-responsive">  
 	<table class="table">
	    <thead>
			<tr>
				<th>Expenses</th>
				<th>Value</th>
				<th>Percentage</th>
				<th colspan="1"></th>
			</tr>
	    </thead>
		<tbody>
			<% @categories.each do |category| %>
				<tr>
					<td><%= link_to category.name, category %></td>
					<td><%= number_to_currency(category.expense_sum(current_user), :unit => @setting.currency, format: "%n %u") %></td>
					<% if category.expense_sum(current_user) > 0  %>
						<td><%= number_to_percentage(category.percentage(current_user), precision: 0) %></td>
					<% else %>
						<td><%= number_to_percentage(0, precision: 0) %></td>
					<% end %>
					<td><%= link_to 'New expense', new_category_expense_path(category) %></td>
				</tr>
			<% end %>
			<td>All expenses: </td>
			<td><%= number_to_currency(Expense.all.sum_all(current_user), :unit => @setting.currency, format: "%n %u") %></td>
			<td>Balance: </td>
			<% if @setting.budget == 0  %>
				<td>No budget set</td>
			<% else %>
				<td><%= number_to_currency((@setting.budget) - (Expense.all.sum_all(current_user)), :unit => @setting.currency, format: "%n %u") %></td>
			<% end %>
		</tbody>
	</table>
	<p><%= link_to 'New Category', new_category_path %></p>
	<p><%= link_to 'Create Basic Categories', 'new_basic' %></p>
</div>



