<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Expenses:</strong>
  <% if @setting.currency == ISO4217::Currency.from_code('USD').symbol  %>
    <%= @category.expenses.sum(&:value) %>
  <% elsif @setting.currency == ISO4217::Currency.from_code('EUR').symbol %>
    <% @category.expenses.sum(&:value)/(ISO4217::Currency.from_code('EUR').exchange_rate) %>
  <% elsif @setting.currency == ISO4217::Currency.from_code('PLN').symbol %>
    <% @category.expenses.sum(&:value)/(ISO4217::Currency.from_code('PLN').exchange_rate) %>
  <% end %>
  
  <% @category_expenses.each do |expense| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <% if @setting.currency == ISO4217::Currency.from_code('USD').symbol  %>
            <%= link_to expense.value, category_expense_path(@category, expense) %>
          <% elsif @setting.currency == ISO4217::Currency.from_code('EUR').symbol %>
            <%= link_to expense.value/(ISO4217::Currency.from_code('EUR').exchange_rate), category_expense_path(@category, expense) %>
          <% elsif @setting.currency == ISO4217::Currency.from_code('PLN').symbol %>
            <%= link_to expense.value/(ISO4217::Currency.from_code('PLN').exchange_rate), category_expense_path(@category, expense) %>
          <% end %>
          
        </div>
        <div class="article-body">
          <%= truncate(expense.description, length: 100) %>
        </div>
         <div class="article-actions">
          <%= link_to 'Edit this expense', edit_category_expense_path(@category, expense), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete this expense", category_expense_path(@category, expense), method: :delete,
                                        data: { confirm: "Are you sure you want to delete the expense?"},
                                        class: "btn btn-xs btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</p>
<%= link_to 'New Expense', new_category_expense_path(@category) %> |
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Delete category', @category, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', categories_path %>
