<% if @category_error.present? || @expense_error.present? %>
	<% error = @category_error || @expense_error %>
	<div id="error_explanation">
		<h2><%= pluralize(error.errors.count, "error") %> prohibited this category from being saved:</h2>

		<ul>
			<% error.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="row">
	<div class="col-md-6">
		<h3>
			<strong>Category expenses:</strong>
			<%= number_to_currency(@category.expense_sum * Expense::RATES, :unit => @setting.currency, format: "%n %u") %>
		</h3>
	</div>
	<div class="col-md-6">
		<div class="actions">
			<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#categoryModal">
				Edit Category
			</button>
			<%= link_to 'Delete category', @category, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger btn-sm" %>
			<button type="button" class="btn btn-light btn-sm"><%= link_to 'Back', categories_path, :method => :get %></button>
		</div>
	</div>
</div>
<%= render 'categories/form', category: @category %>
<div class="row">
	<div class="col-md-6"><h4>Expenses list</h4></div>
</div>
<div class="row">
	<div class="col-md-6">
		<% @category.expenses.each do |expense| %>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="expense-title">
						<%= truncate(expense.description, length: 100) %>
					</div>
					<div class="expense-value">
							<%= number_to_currency(expense.value * Expense::RATES, :unit => @setting.currency, format: "%n %u") %>
					</div>
					<div class="actions">
						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#<%=expense.id%>Modal">
							Edit expense
						</button>
						<%= link_to "Delete this expense", category_expense_path(@category, expense), method: :delete, data: { confirm: "Are you sure you want to delete the expense?"}, class: "btn btn-danger btn-sm" %>
					</div>
				</li>
			</ul>
			<%= render 'expenses/form', category: @category, expense: expense %>
		<% end %>
	</div>
</div>