<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <% if @setting.currency == ISO4217::Currency.from_code('USD').symbol  %>
    <td><%= @expense.value %></td>
  <% elsif @setting.currency == ISO4217::Currency.from_code('EUR').symbol %>
    <td><%= (@expense.value.to)/(ISO4217::Currency.from_code('EUR').exchange_rate) %></td>
  <% elsif @setting.currency == ISO4217::Currency.from_code('PLN').symbol %>
    <td><%= (@expense.value)/(ISO4217::Currency.from_code('PLN').exchange_rate) %></td>
  <% end %>
  
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<%= link_to 'Edit', edit_category_expense_path(@category, @expense) %> |
<%= link_to 'Delete expense', category_expense_path(@category, @expense), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', category_expenses_path %>
