<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @expense.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<%= link_to 'Edit', edit_category_expense_path(@category, @expense) %> |
<%= link_to 'Delete expense', category_expense_path(@category, @expense), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', category_expenses_path %>
