<!DOCTYPE html>
<html>
  <head>
    <title>My Wallet</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div role="main" class="container">
      <%= render 'layouts/navigation' %>
        <div class="main col-lg-7">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
    </div>
  </body>
</html>
